<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mecanico</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    




</head>
<body>  

    <!--Header-->
    <header class="header bg-dark">
        <div class="container">
            <!--Navbar-->
            <nav class="row text-white justify-content-between align-items-center text-uppercase pt-4">
                <!--Logo-->
                <a href="#" class="col-auto text-reset">
                    <img src="{% static 'core/img/lightning.svg'%}" alt="Logo McQueen" class="img-logo">
                       McQueen
                </a> 
          
              
                <!--links-->
                <div class="col-auto">
                    <a href="{% url 'index' %}" class="text-reset pr-3">Home</a>
                    <a href="{% url 'infoauto' %}" class="text-reset pr-3">Nosotros</a>
                    <a href="{% url 'auto' %}" class="text-reset pr-3">Auto</a>
                    <a href="{% url 'usuario' %}" class="text-reset pr-3">Usuario</a>
                </div>
            </nav>
        </div>
    </header>
        <div class="container">
            <div class="row">

                <center>


            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{% static 'core/img/servicio1.jpg'%}" class="d-block w-75" alt="arreglo">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'core/img/servicio2.gif'%}" class="d-block w-75" alt="mejora">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'core/img/servicio3.jpg'%}" class="d-block w-75" alt="ayuda">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>           
             </center>
   </div>
        </div>
    </div>
<br>
<br/>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-primary text-uppercase h6">Nosotros</h2>
                <h3 class="text-capitalize">Nuestros trabajos</h3>
                <p class="text-muted">Constamos con profecionales capacitados para cada una de sus necesidades, cambio de aceite, mejora de neumaticos, revision tecnica y cada componente que usted necesite</p>
            </div>
     
        <div class="col-4 card-effect">
            <div class="card">
                <img src="{% static 'core/img/auto1.jpg'%}" alt="" class="card-img card-img-filter">
                <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
                    <h4>Cambio aceite</h4>
                    <p>Profesionales capacitados para cada uno de los aceites que su auto necesite, no se con que mas rellenar pero necesito escribir harto</p>

                </div>
            </div>
        </div>
        <div class="col-4 card-effect">
            <div class="card">
                <img src="{% static 'core/img/auto2.jpg'%}" alt="" class="card-img card-img-filter">
                <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
                    <h4>Revision</h4>
                    <p>Porfesionales capaces de hacer cada una de las tareas que tu auto necesita para pasar la revision tecnica y no se que mas poner por que no tengo auto </p>
                </div>
            </div>
        </div>
        <div class="col-4 card-effect">
            <div class="card">
                <img src="{% static 'core/img/auto3.jpg'%}" alt="" class="card-img card-img-filter">
                <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
                    <h4>Repuestos</h4>
                    <p>Repuestos directamente desde China o de algun pais que los venda para arreglar el auto y dejarlo mas bonito de lo que es</p>

                </div>
            </div>
        </div>
    </div>
    </div>
 
    <!-- Seccion de contacto-->
    <div class="container">
        <div class="row">
            <!--titulo-->
            <h2 class="col-12 text-center"> 
                <span class="text-primary h6 text-uppercase">Contactanos</span> <br />
                    <span class="text-capitalize">Taller Mecanico RayoMcQueen</span>
            </h2>
            <!--Descripcion1-->
            <p class="col-6">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus neque quidem optio eum distinctio nostrum unde quasi animi, placeat fuga sunt quia impedit earum accusantium explicabo tempore numquam, voluptatibus possimus?
            </p>
            <!--Descripcion2-->
            <p class="col-6">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat a officia tempora! Autem labore, aliquid voluptates quasi vitae nesciunt, placeat cum ipsa animi et rem atque ullam eius sed ex.
            </p>
            <!--Preguntas-->
            <div class="col-3 text-center">
                <h3 class="text-primary h6">Experiencia</h3>
                <p class="font-weight-bold text-capitalize">2 años de Experiencia</p>
            </div>
            <div class="col-3 text-center">
                <h3 class="text-primary h6">Seguridad</h3>
                <p class="font-weight-bold text-capitalize">100% seguridad de sus productos</p>
            </div>
            <div class="col-3 text-center">
                <h3 class="text-primary h6">Confianza</h3>
                <p class="font-weight-bold text-capitalize">Transparencia en evaluacion</p>
            </div>
            <div class="col-3 text-center">
                <h3 class="text-primary h6">Respaldo</h3>
                <p class="font-weight-bold text-capitalize">Respaldo de nuestros clientes</p>
            </div>
            <!--boton-->
            <div class="w-100"></div>
                
            </bottom>
        </div>
    </div>

    <!--Footer-->
    <footer class="bg-dark text-white py-4">
        <div class="container">
            <nav class="row">
                <!--Logo-->
                <a href="#" class="col-3 text-reset text-uppercase d-flex align-item-center">
                    <img src="{% static 'core/img/lightning.svg'%}" alt="Logo McQueen" class="img-logo mr-2">
                    McQueen
                </a>
                <!--Menu-->
                <ul class="col-3 list-unstyled">
                    <li class="font-weight-bold text-uppercase">Listas</li>
                    <li><a href="#" class="text-reset">Relleno 1</a></li>
                    <li><a href="#" class="text-reset">Relleno 2</a></li>
                    <li><a href="#" class="text-reset">Relleno 3</a></li>
                    <li><a href="#" class="text-reset">Relleno 4</a></li>
                </ul>
                <!--Menu 2-->
                <ul class="col-3 list-unstyled">
                    <li class="font-wight-bold text-uppercase">Reosurce</li>
                    <li><a href="#" class="text-reset">Relleno 1</a></li>
                    <li><a href="#" class="text-reset">Relleno 2</a></li>
                    <li><a href="#" class="text-reset">Relleno 3</a></li>
                    <li><a href="#" class="text-reset">Relleno 4</a></li>
                </ul>
                <!--Social network-->
                <ul class="col-3 list-unstyled">
                    <li class="font-wight-bold text-uppercase">Redes Sociales</li>
                    <li class="d-flex justify-content-between">
                        <a href="#" class="text-reset"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="text-reset"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="text-reset"><i class="fab fa-instagram"></i></a>
                    </li>

                </ul>
            </nav>
        </div>
    </footer>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>