
.header{
    background-color: rgb(80, 113, 224);
}

.img-logo{
    width: 40px;
    
}


.page-container{
    background-color: rgb(71, 71, 236)

}

.logo{
    background-color: white;

}

.card-img-filter{
    filter: brightness(0.5);
}

.card{
    transition-duration: .6s;
    clip-path: polygon(
        50% 0,
        100% 0,
        100% 50%,
        100% 100%,
        50% 100%,
        0 100%,
        0 50%,
        0 0
        );
}

.card-effect:hover .card {
    clip-path: polygon(
        50% 0,
        50% 0,
        100% 50%,
        100% 50%,
        50% 100%,
        50% 100%,
        0 50%,
        0 50%
    );
}

.card-img-overlay{
    transition-duration: .6s;
}

.card-effect:hover .card-img-overlay{
    transform: scale(0.9) ;
}

.contact-section{
    background: url('/static/core/img/fondo.jpg') no-repeat center;
    background-size: cover;
    padding: 40px;
}
.contact-section h1{
   text-align: center;
   color: white;
}
.border{
    width: 100px;
    height: 10px;
    background: #34495e;
    margin: 40px auto;

}

.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
}

.contact-form-text:focus{
    box-shadow: 0 0 10px 4px #34495e ;

}
.textarea.contact-form-text{
    resize: none;
    height: 120px;
}
.contact-form-btn{
    float: right;
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 12px 50px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-form-btn:hover{
    background: #34495e;
}

.centrado{
    margin-top: 200px;
    margin-bottom: 200px;
}

.fondo{
    background: url('/static/core/img/fondo2.jpg') no-repeat center;
    background-size: cover;
    padding: 0px;
}

.table{ 
    background-color: white;
}

.fondofacha{
    background: url('/static/core/img/fondo-02.jpg') no-repeat center;
    background-size: cover;
    padding: 0px;
}

